* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(181, 247, 172);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    

}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
    
}
img{
    width: 130px;
    height: 100px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 300px;
    height: 450px;
    border: 3px solid #312c2c;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
    transition: 0.2s;

}

.estrelas {
    display: flex;
    gap: 5px;
}

.estrelas span {
    font-size: 20px;
    color: #ccc; /* cinza */
}

.estrelas .ativa {
    color: gold; /* estrela preenchida */
}
